{% extends "base.html" %}
{% load i18n %}


{% block page_title %}
    Quiz Thematics
{% endblock %}

{% block header %}
    <h3>Thematics</h3>
{% endblock %}

{% block content %}

    {% if thematics %}
        <ul>
        {% for thematic in thematics %}
            <li>
                <a href="{% url "quiz_thematic" thematic.id %}">
                    {{ thematic.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no thematics.</p>
    {% endif %}

{% endblock %}
