{% extends "base.html" %}
{% load i18n %}


{% block page_title %}
    Quizzes related to {{ category.name }}
{% endblock %}

{% block header %}
    <h3>Quizzes in {{ category.name }}</h3>
{% endblock %}

{% block article %}

    {% if quizzes %}
        <ul>
        {% for quiz in quizzes %}
            <li>
                <a href="{# url take_quiz #}">
                    {{ quiz.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no quizzes.</p>
    {% endif %}

{% endblock %}

{% extends "base.html" %}
{% block title %}Quizzes related to {{ category.name }}{% endblock %}

{% block article %}
    {% if quizzes %}
    <h1>Quizzes in {{ category.name }}</h1>
        <ul>
        {% for quiz in quizzes %}
            <li><a href="{{ BASE_URL }}/quiz/{{ quiz.url }}">{{ quiz.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no quizzes.</p>
    {% endif %}
{% endblock %}
